RaspberryPi/usages/nodered/flows.json
[
    {
        "id": "07fe2fb9e9a25ccc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67b8014be0c26f5e",
        "type": "tab",
        "label": "LIGHT SENSOR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97999964b1020a2d",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "578ecc967a7e0d59"
            ]
        ]
    },
    {
        "id": "f6ccfad5672a7e17",
        "type": "debug",
        "z": "07fe2fb9e9a25ccc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "578ecc967a7e0d59",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/buzzer.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "buzzer",
        "x": 750,
        "y": 260,
        "wires": [
            [
                "f6ccfad5672a7e17"
            ],
            [],
            []
        ]
    },
    {
        "id": "37f6eeb9a3b6af15",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/button.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "button",
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "a9cdf4b4e3af30ec"
            ],
            [
                "a9cdf4b4e3af30ec"
            ],
            []
        ]
    },
    {
        "id": "e1c815eed9c6d30f",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "37f6eeb9a3b6af15"
            ]
        ]
    },
    {
        "id": "ac34ba0129554515",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/led.py on",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "led on",
        "x": 750,
        "y": 340,
        "wires": [
            [],
            [
                "f6ccfad5672a7e17"
            ],
            []
        ]
    },
    {
        "id": "870bfc9fd72747f2",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "ac34ba0129554515"
            ]
        ]
    },
    {
        "id": "e8f00a981a70f3ea",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/led.py off",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "led off",
        "x": 750,
        "y": 420,
        "wires": [
            [],
            [
                "f6ccfad5672a7e17"
            ],
            []
        ]
    },
    {
        "id": "53108c3b064a6ed3",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "alex",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "9ca205bc77d3212c"
            ]
        ]
    },
    {
        "id": "87f8ab191e5dea9d",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cd9b4975a2136b4a",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c744d268bd3c760f",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "e8f00a981a70f3ea"
            ]
        ]
    },
    {
        "id": "a9cdf4b4e3af30ec",
        "type": "debug",
        "z": "07fe2fb9e9a25ccc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9ca205bc77d3212c",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/LCD.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD",
        "x": 750,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "124b3f763264d459",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "f7762d8d7d79d495"
            ]
        ]
    },
    {
        "id": "f7762d8d7d79d495",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/LCD.py  null",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD off",
        "x": 760,
        "y": 600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "87111b1164e31ff9",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/relay.py on",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "relay on",
        "x": 740,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a0df2821701a23a9",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "87111b1164e31ff9"
            ]
        ]
    },
    {
        "id": "72a802ac0a2abea6",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/relay.py off",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "relay off",
        "x": 740,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "59de05b7ddd8fcd9",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "72a802ac0a2abea6"
            ]
        ]
    },
    {
        "id": "b0058f2889474189",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "111bc3806aa37c8c"
            ]
        ]
    },
    {
        "id": "d741c38a781a9933",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "fce87ad8ad09287e"
            ]
        ]
    },
    {
        "id": "111bc3806aa37c8c",
        "type": "exec",
        "z": "07fe2fb9e9a25ccc",
        "command": "python RaspberryPi/usages/scripts/light.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "light",
        "x": 730,
        "y": 880,
        "wires": [
            [
                "e2eba2a66816696b"
            ],
            [
                "e2eba2a66816696b"
            ],
            []
        ],
        "outputLabels": [
            "",
            "msg.payload",
            ""
        ]
    },
    {
        "id": "e2eba2a66816696b",
        "type": "debug",
        "z": "07fe2fb9e9a25ccc",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 860,
        "wires": []
    },
    {
        "id": "fce87ad8ad09287e",
        "type": "trigger",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 980,
        "wires": [
            [
                "111bc3806aa37c8c",
                "37f6eeb9a3b6af15"
            ]
        ]
    },
    {
        "id": "5a8ca420076ca6a3",
        "type": "inject",
        "z": "07fe2fb9e9a25ccc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "fce87ad8ad09287e"
            ]
        ]
    },
    {
        "id": "ba83a48e0bddfbce",
        "type": "exec",
        "z": "67b8014be0c26f5e",
        "command": "python RaspberryPi/usages/scripts/light.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "light",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "759b77cd45f27a2f",
                "a555bccd4002b4cb",
                "76a5da889888d7a2"
            ],
            [],
            []
        ],
        "outputLabels": [
            "",
            "msg.payload",
            ""
        ]
    },
    {
        "id": "baf5a1c8ea7d6534",
        "type": "exec",
        "z": "67b8014be0c26f5e",
        "command": "python RaspberryPi/usages/scripts/relay.py off",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "relay off",
        "x": 920,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "afda18625f6d41b6",
        "type": "exec",
        "z": "67b8014be0c26f5e",
        "command": "python RaspberryPi/usages/scripts/relay.py on",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "relay on",
        "x": 920,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b2b9b9eaced52f7d",
        "type": "inject",
        "z": "67b8014be0c26f5e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "2adf89fe76d258a4"
            ]
        ]
    },
    {
        "id": "759b77cd45f27a2f",
        "type": "debug",
        "z": "67b8014be0c26f5e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "2adf89fe76d258a4",
        "type": "trigger",
        "z": "67b8014be0c26f5e",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "ba83a48e0bddfbce"
            ]
        ]
    },
    {
        "id": "a555bccd4002b4cb",
        "type": "switch",
        "z": "67b8014be0c26f5e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "550",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "baf5a1c8ea7d6534"
            ]
        ]
    },
    {
        "id": "76a5da889888d7a2",
        "type": "switch",
        "z": "67b8014be0c26f5e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "450",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "afda18625f6d41b6"
            ]
        ]
    },
    {
        "id": "b37c86c3e83fde55",
        "type": "inject",
        "z": "67b8014be0c26f5e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "ba83a48e0bddfbce"
            ]
        ]
    }
]